/* .header {
	position: relative;
	background: transparent;
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-position: center;
	height: 50vh;
} */

.header {
	height: 50vh;
}

.none {
	display: none !important;
}